@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

html {
  scroll-behavior: smooth;
}
.yellow {
  background-color: rgba(246, 250, 94, 1);
}
.connect {
  transform: translateY(-35px);
}
.bg-primary {
  background-color: #e7f0f9;
}
.bg-custom {
  background-color: #21242c;
}
.text-subTitel {
  color: #3c403c;
}
.text-Slidegray {
  color: #667085;
}
.text-Slideblue {
  color: #43b9b5;
}
.text-header {
  color: #258b87;
}
.active-nav-link {
  background-color: black;
  color: white;
}
* {
  font-family: "Inter", sans-serif;
}
.custom-radius {
  border-radius: 50px;
}

.hero-titel {
  font-size: 160px;
}
.hero-subtitel {
  font-size: 160px;
}
.herotextcolor {
  color: rgba(45, 203, 197, 1);
}

/* TEXT ANIMATION */

.animate-from-right {
  animation: fromRight 1s ease-out forwards;
}

.animate-from-left {
  animation: fromLeft 1s ease-out forwards;
}

.animate-from-bottom {
  animation: fromBottom 1s ease-out forwards;
}
@keyframes fromRight {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromBottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.typing {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40, end), blink 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.animate-marquee {
  animation: marquee 30s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

.marquee-item {
  display: inline-block;
  margin-right: 8rem;
  white-space: nowrap;
}
.marquee-item-mobile {
  display: inline-block;
  margin-right: 4rem;
  white-space: nowrap;
}
@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.flip-box {
  background-color: transparent;
  width: 100%;
  aspect-ratio: 16 / 9;
  perspective: 1000px;
  position: relative;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  cursor: pointer;
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
  overflow: hidden;
}

.flip-box-front img,
.flip-box-back img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-box-back {
  transform: rotateY(180deg);
}

.animated-text-slideup {
  opacity: 0;
  opacity: 0;
  transform: translateY(100px);
  animation: slideUp 1s ease-in forwards;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @keyframes appear {
  from {
    opacity: 0;
    scale: 0.4;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.custom-animation {
  animation: appear 5s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} */
